<div>
  <%= form_with model: @like, url: user_post_likes_path(@user, @post) do |form| %>
    <div>
      <%= form.submit "like", :type => :image, :src => image_path("like-btn.svg"), class: "like-btn"%><br>
    </div>
  <% end %>
  <%= form_with model: Comment, url: user_post_comments_path(user_id: @user.id, post_id: @post.id) do |f| %>
    <div>
      <%= f.text_field :text, placeholder: "New Comment" %>
    </div>
      <%= f.submit 'Add Comment' %>
  <% end %>
  </div>