<h1>post</h1>
<h2>user's selected post</h2>
<%= link_to "Back", :back , :class => "link-pages" %>
<div id="post-show">
  <div class="post-container">
    <p class="post-number">Post #<%= @post.id %></p>
    <p class="post-description"><%= @post.text %></p>
    <div class="post-interactions">
      <p>Comments: <%= @post.comments_counter %></p>
      <p>Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <ul class="comments-ul">
  <% if comments?(@post.comments) %>
    <%= render partial: "comments/comment", collection: @post.comments %>
    <% else %>
    <p>No comments available</p>
    <% end %>
  </ul>
  <%= render "forms/form" %>
</div>